.product-img-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    position: relative;
}
.product-img-box .preorder-icon{
    position: absolute;
    top: 0;
    right: 0;
    height: 85px;
    width: 150px;
}
.product.media{
    width: 50% !important;
}
.action.primary.tocart.preorder{
    background-color: rgba(25, 121, 195, .5);
}
